@import 'normalize'
@import 'helper'

/* variables */
$lightgrey = #999
$linkColor = #555
$grey = #eee
$black = #222
$white = #f7f7f7

html
button
input
select
textarea
  color: $black

a
a:visited
  color: $linkColor
  text-decoration: none

a:hover
  color: lighten($linkColor,10%)

body
  color: $black
  font-size: 1em
  line-height: 1.5

header
  background: $grey
  color:$black

  nav
    float: left
    user-select: none

  .logo
    float: right
    padding: 20px 40px

  .nav-item
    float:left
    padding: 20px 40px
    margin: 0

    &.active
      background: #aaa
      color: #fff

.content
  padding: 2em 4em

ul.results
  list-style: none;
  padding: 20px 0;
  margin: 0;

  > li
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;

    img.avatar
      width: 20px;
      height: 20px;
