@import 'normalize'
@import 'helper'

/* variables */
$lightgrey = #999
$linkColor = #555
$grey = #eee
$black = #222
$white = #f7f7f7

html
button
input
select
textarea
  color: $black
h1
  padding: 0;

.container
  padding: 10px;

.iframe-container
  padding-top: 10px;
  transition: background 0.5s ease;

a
a:visited
  color: $linkColor
  text-decoration: none

a:hover
  color: lighten($linkColor,10%)

body
  color: $black
  font-size: 1em
  line-height: 1.5

header
  background: $grey
  color:$black

  nav
    float: left
    user-select: none

  .logo
    float: right
    padding: 15px 30px

  .nav-item
    float:left
    padding: 15px 30px
    margin: 0

    &.active
      background: #aaa
      color: #fff

.content
  padding: 0

ul.results
  list-style: none;
  padding: 20px 0;
  margin: 0;

  > li
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
    line-height: 30px;

    img.avatar
      width: 30px;
      height: 30px;

    a
      color: #aaa;
      &:hover
        color: #000;

.searchForm
  input
    height: 25px;
    margin: 0 10px;
  button
    padding: 4px 20px;

.embed-results
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;

  li
    width: 100%;
    display: inline-block;
    vertical-align: top;

    .asset-contents
      .content
        padding: 0;

        .byline
          font-size: 14px;
          padding: 4px 0 0px 0;

        .title
          font-size: 16px
          line-height: 20px;
          padding: 0;
          margin: 0;

    .link
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 10;

  &:hover
    .owl-prev, .owl-next
      opacity: 1;
      transform: translateX(0);

.owl-controls
  .owl-nav
    div
      color: #fff;
      opacity: 0.2;
      padding: 10px 12px;
      background: #000;
      transition: transform 0.3s ease, opacity 0.3s ease;

  .owl-prev, .owl-next
    position: absolute;
    top: 50%;
    margin-top: -50px;

    &:hover
      background: #0694ff;

  .owl-prev
    left: 0;
    transform: translateX(-100%);

  .owl-next
    right: 0;
    transform: translateX(100%);
